html {
    font-family: "Segoe UI",Verdana,sans-serif;
    font-size: 15px;
}

body{
    width:800px;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
}

header, footer{
    padding: 15px;
    background: linear-gradient( color-stop(0.05, #006699), color-stop(1, #00557F) );
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
    background: -moz-linear-gradient( #006699,  #00557F );
    font-weight: bolder;
    color:#fff;
    text-shadow: 1px 1px 1px #000;
}


header h1{
    margin: 0;
    padding-top: 0;
}


.center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#empty{
    display: none;
}
#table{
    padding-bottom: 30px;
}
#inventoryTable{
    display: none;
    width:730px;
    text-align: center;
    margin:auto;
    border: 1px solid black;
}

thead {
    background: linear-gradient( color-stop(0.05, #006699), color-stop(1, #00557F) );
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
    background: -moz-linear-gradient( #006699,  #00557F );
    font-weight: bold;
    padding:5px;
    color:#ddd;
}

td{
    padding:5px;
    border-bottom: 1px solid #000;
}


tbody tr:nth-child(even) {background: #DDD}
tbody tr:nth-child(odd) {background: #FFF}

.button{
    border: 2px outset black;
    color: #eee;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    width: 300px;
    margin: 15px auto;
    text-shadow: 3px 3px 3px #333;
}

.bgDarkGreen{
    background-color: darkgreen;
}

.bgDarkRed{
    background-color: darkred;
}

#setCode{
    font-weight: normal;
    letter-spacing: 1px;
    padding: 0;
    width: 50px;
}
