hostname="app.example.com"
admin_port=1337

USER_ADMIN="admin"
PASSWORD_ADMIN="changeme"
USER_INVENTORY="inventory"
PASSWORD_INVENTORY="changeme"

adminUsername="admin"
adminPassword="changeme"

openerp_hostname="openerp.example.com"
openerp_database="production"
openerp_user="appserver"
openerp_password="changeme"

FABLAB_KEYSTORE_PASSWORD="changeme"
FABLAB_REST_SERVER_TYPE="prodca"

pushAPIkey="myapikey"
pushServiceURL="https://android.clients.google.com/gcm/send"

drupalAdmin=admin
drupalPassword=changeme
drupalDBUser=drupal
adminPassword=changeme
drupalPort=7331

APN_PASSWORD="changeme"

apiKey="myapikey"
GITHUB_TOKEN="mytoken"
